page-about {
  .login-button, .signin-button{
    background-color:#8E44AD;
    color: #FFC500;
    width:80%;
    margin:0 auto;}

  .inpt{
     position: relative;
     z-index:2;
   }

  .fp{
    color:#8E44AD ;
    text-align: center;
  }
  .h{
    min-height:10px;
    height:40px;
    width:80%;
  }
  .login-form{
    width:80%;
    margin:0 auto;
  }
  body{
    background-color: #FFC500;
  }

  ion-item{
    margin-top:0px;
  }
  h3{
    color:white;
  }
  .music{
    position: absolute;
    z-index:1;
    bottom: 0;
    right: 0;
    margin-bottom: 10%;
  }
  .im1{
    position: absolute;

  }
img{
  filter: blur(4px);
}

}
